{% extends "base.html" %}

{% block content %}

<div class="columns">
    <div class="column is-three-quarters">
        <div class="content">
            <p class="title">
                {{ page.title }}
            </p>
            <p class="subtitle is-6 has-text-grey-light">{{ page.date | date(format="%Y-%m-%d") }} - Reading time:
                {{ page.reading_time }}
                minutes
            </p>
        </div>
    </div>
    <div class="column is-one-quarter">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                {% for p in page.ancestors %}
                {% set subsection = get_section(path=p) %}
                <li><a href="{{ subsection.permalink }}"> {{ subsection.title }} </a></li>
                {% endfor %}
                <li class="is-active" aria-current="page"><a href="#">{{ page.title | truncate(length=20) }}</a>
                </li>
            </ul>
        </nav>
    </div>

</div>
<!-- <h2> TOC </h2>
    <ul>
        {% for h1 in page.toc %}
        <li>
            <a href="{{h1.permalink | safe}}">{{ h1.title }}</a>
            {% if h1.children %}
            <ul>
                {% for h2 in h1.children %}
                <li>
                    <a href="{{h2.permalink | safe}}">{{ h2.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul> -->

<div class="content">
    {{ page.content | safe }}
</div>

<div class="columns">
    {% if page.earlier %}
    <div class="column">
        <a href="{{page.earlier.permalink}}">
            <i class="fas fa-long-arrow-alt-left"></i> {{ page.earlier.title }}
        </a>
    </div>
    {% endif %}
    {% if page.later %}
    <div class="column">
        <a href="{{page.later.permalink}}">
            {{ page.later.title }} <i class="fas fa-long-arrow-alt-right"></i>
        </a>
    </div>
    {% endif %}
</div>

<hr style="margin: 2rem 0; opacity: 0.3;">
<div id="comments-container" data-post="{{ page.slug }}"></div>
<script src="/comments.js" defer></script>

{% endblock content %}
